.footer-wrapper {
    width: 100%;
    height: auto;
    
    display: flex;
    padding-top: 5%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    background-color: #191919;
    color: white;
    gap: 50px;
    border-radius: 50px 50px 0px 0px;

    position: relative;
    z-index: -1;
}


.footer-links-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    height: auto;
    gap: 30px;
    flex-wrap: wrap;

}

.footerLogoWrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footerLogoContainer {
    display: flex;
    height: 50px;
    text-decoration: none;
    color: white;
    justify-content: flex-start;
    align-items: center;
}

.footerLogoContainer h2 {
    font-size: 25px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: linear-gradient(to bottom right, #5c9efa,
            #44c4ff75, #006aff5b);
    /* Choose your gradient */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    opacity: 1;
}

.footerLogoContainer img {
    height: 100%;
    width: auto;
    display: flex;
    object-fit: contain;
    margin-right: 20px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    gap: 10px;

    align-items: flex-start;
    justify-content: center;
}

.footer-links h2 {
    font-size: 16px;
}

.ql {
    display: flex;
    border: 1px dotted #006aff;
    padding: 10px 20px;
}

.footer-links .footerLink {
    font-size: 14px;
    color: rgb(167, 167, 167);
    text-decoration: none;
}


.footer-line {
    display: flex;
    width: 80%;
    border-bottom: 1px solid #505050;
}

.allRightsReserved {
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 60px;
    display: flex;
    font-size: 12px;
    margin-bottom: 5%;
}

.footer-otherLinks {
    display: flex;
    gap: 20px;

}

.otherLink {
    /* z-index: 1; */
    color: white;
    text-decoration: none;
    columns: white;
    text-decoration: none;
    padding: 10px;
    background-color: #006aff;
}

.bckgrndFont {
    position: absolute;
    display: flex;
    margin-bottom: auto;
    /* z-index: 1; */
    height: 200px;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    bottom: 0px;
}

.bckgrndFont h1 {
    height: fit-content;
    bottom: -20%;
    position: absolute;
    color: white;

    letter-spacing: 20px;
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 300px;

    background: linear-gradient(to bottom, #969696, transparent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    opacity: .3;
}

.bckgrndFont h1 br {
    display: none;
}

@media (max-width:900px) {
    .footer-wrapper {
        width: 100%;
        height: auto;
        padding: 50px;

        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;

        background-color: #191919;
        border-radius: 0px;
        color: white;

        position: relative;
    }

    .footer-links-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        height: auto;
        gap: 20px;
    }

    .footerLogoWrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .footerLogoContainer h2 {
        font-size: 18px;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    .footer-line {
        display: flex;
        width: 100%;
        border-bottom: 1px solid #505050;
    }


    .footer-otherLinks {
        display: flex;
        gap: 50px;
        width: 100%;
        margin-bottom: 15%;
    }

    .allRightsReserved {
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        display: flex;
        font-size: 12px;
        flex-direction: column-reverse;
    }


    .bckgrndFont {
        position: absolute;
        display: flex;
        margin-bottom: auto;
        height: auto;
        width: 100%;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        bottom: 0px;
    }

    .bckgrndFont h1 {
        height: fit-content;
        bottom: -20%;
        position: relative;
        color: white;

        letter-spacing: 20px;
        font-family: "Jersey 15", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 200px;

        background: linear-gradient(to bottom, #969696, transparent);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline-block;
        opacity: .3;
    }



}