 @font-face {
   font-family: 'Gilroy';
   src: url('./Assets/fonts/Gilroy-ExtraBold.otf') format('opentype');
   font-weight: 800;
   /* ExtraBold weight */
 }

 @font-face {
   font-family: 'Gilroy';
   src: url('./Assets/fonts/Gilroy-Light.otf') format('opentype');
   font-weight: 300;
   /* Light weight */
 }

 * {
   font-family: 'Gilroy', sans-serif;
   padding: 0px;
   margin: 0px;
   box-sizing: border-box;
 }