 @font-face {
   font-family: 'Gilroy';
   src: url('./Assets/fonts/Gilroy-ExtraBold.otf') format('opentype');
   font-weight: 800;
   /* ExtraBold weight */
 }

 @font-face {
   font-family: 'Gilroy';
   src: url('./Assets/fonts/Gilroy-Light.otf') format('opentype');
   font-weight: 300;
   /* Light weight */
 }

 @import url('https://fonts.googleapis.com/css2?family=GFS+Didot&family=Jersey+15&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


 * {
   font-family: "Mulish", "GFS Didot", sans-serif, 'Gilroy', sans-serif;
   padding: 0px;
   margin: 0px;
   box-sizing: border-box;
   scroll-behavior: smooth;
 }

 body {
   background-color: #f9f9f9;
 }

 .app-nav-wrapper {
   display: flex;
   width: 100%;
   height: auto;
    height: auto;
   position: fixed;
   top: 15px;
   z-index: 9999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999;
  }